// template for add form view
<div ng-controller="EditarDireccionCtrl">
  <div class="jumbotron text-center">
  <h2>{{ title }}</h2>
  <hr>
  <p>{{ message }}</p>

  <form name="DireccionForm" class="form-horizontal" ng-init="load(id)">
    <div class="form-group">
      <label for="calle" class="col-sm-2 control-label">Calle</label>
      <div class="col-sm-10">
        <input name="calle" type="text" ng-model="Direccion.calle" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label for="ciudad" class="col-sm-2 control-label">Ciudad</label>
      <div class="col-sm-10">
        <input name="ciudad" type="text" ng-model="Direccion.ciudad" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label for="pais" class="col-sm-2 control-label">Pais</label>
      <div class="col-sm-10">
        <input name="pais" type="text" ng-model="Direccion.pais" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" ng-click="cancel()" value="Cancelar" class="btn btn-primary"/>
        <input type="submit" ng-click="edit(id)" value="Guardar" class="btn btn-success"/>
      </div>
    </div>
  </form>
  <pre>Direccion = {{Direccion}} | json}}</pre>
  </div>
</div>